<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>Product store</title>
  <link rel="stylesheet" href="/styles/ownerHomePage.css">
</head>
<body>

  <h1>Welcome to the site</h1>

 
  <div class="search-container">
    <input type="text" id="search-input" placeholder="Search by supplier name">
    <!-- <button onclick="searchProduct()">Search</button> -->
    <button onclick="searchBySupplier()">Search</button>
    <a href="/api/orderRoutes/cart" id="cart-link">My Cart</a>
  </div>


  <div class="products-container" id="products">
    <!-- Products will be entered here -->
  </div>

  <script src="./scripts/ownerHomePage.js"></script>
</body>
</html>
