<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Orders</title>
  <link rel="stylesheet" href="/styles/supOrders.css"> <!-- קובץ CSS לעיצוב -->
</head>
<body>
  <h1>My Orders</h1>

  <div id="orders-container"></div>
  <p id="orders-total">Total: $0</p>

  <script src="/scripts/supOrders.js"></script>
</body>
</html>
