<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/styles/supplierLogin.css">
</head>
<body>
    <div class="container">
      <h1>Login</h1>
      <form id="loginForm" class="form">
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required>

        <label for="representativeName">Representative Name:</label>
        <input type="text" id="representativeName" name="representativeName" required>

        <button type="submit" class="button">Login</button>
      </form>
      <p id="message"></p>
      <p class="signup-link">Don't have an account? <a href="/register-supplier">Sign up here</a></p>

    </div>
    <script src="/scripts/supLogin.js"></script>

</body>
</html>


